   .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   }
   .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: white;
   }
   .Auth-form-content {
    padding-left: 10%;
    padding-right: 10%;
   }

   .Auth-form-title {
    text-align: center;
    margin-bottom: 0em;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000d6b;
    font-weight: 700;
   }

   .btn {
      background-color: #000d6b;
      
   }

   .forgot-password {
      font-weight: 500;
      text-align: left;
      margin-top: 2px;
   }

   label {
    font-size: 14px;
    font-weight: 600;
    color: #030303;
   }